{% extends "layouts/base.html" %}
{% block title %}User information{% end %}
{% block content %}
<style>
li.container {
  margin-left: 30px;
}
label.container {
  margin-left: 20px;
}
div.container {
  border-style: solid;
}
</style>
{% if primary_affiliation == "Student" %}
  <h3>Student Information</h3>
  <div class="container">
  <label class="container"><b>Username</b></label><br>
  <li class="container">{{ username }}</li><br>
  <label class="container"><b>Email</b></label><br>
  <li class="container">{{ email }}</li><br>
  <label class="container"><b>Student Year</b></label><br>
  <li class="container">{{ status }}</li><br>
  <label class="container"><b>Date of Birth</b></label><br>
  <li class="container">{{ dob }}</li><br>
  <label class="container"><b>Native Language</b></label><br>
  <li class="container">{{ native_language }}</li><br>
  <label class="container"><b>Gender</b></label><br>
  <li class="container">{{ gender }}</li><br>
  <label class="container"><b>Ethnicity</b></label><br>
  <li class="container">{{ ethnicity }}</li><br>
  <label class="container"><b>Departments Enrolled</b></label><br>
  {% if len(departments) == 0 %}
    <li class="container">{{ 'not enrolled into any departments' }}</li><br>
  {% else %}
      <li class="container">{{ departments }}</li><br>
  {% end %}
  <label class="container"><b>Majors Declared</b></label><br>
  {% if not major1 and not major2 and not major3 and not major4 %}
    <li class="container">{{ 'did not declare an majors' }}</li><br>
  {% else %}
    {% if major1 %}
      <li class="container">{{ major1 }}</li><br>
    {% end %}
    {% if major2 %}
      <li class="container">{{ major2 }}</li><br>
    {% end %}
    {% if major3 %}
      <li class="container">{{ major3 }}</li><br>
    {% end %}
    {% if major4 %}
      <li class="container">{{ major4 }}</li><br>
    {% end %}
  {% end %}
  <label class="container"><b>Minors Declared</b></label><br>
  {% if not minor1 and not minor2 %}
    <li class="container">{{ 'did not declare an minors' }}</li><br>
  {% else %}
    {% if minor1 %}
      <li class="container">{{ minor1 }}</li><br>
    {% end %}
    {% if minor2 %}
      <li class="container">{{ minor2 }}</li><br>
    {% end %}
  {% end %}
  <label class="container"><b>Courses Enrolled</b></label><br>
  {% if len(courses) == 0 %}
    <li class="container">{{ 'not enrolled into any courses' }}</li><br>
  {% else %}
    <li class="container">{{ courses }}</li><br>
  {% end %}
  <form action="/userinfo/update" method="get">
    <input type="submit" value="update" class="button"><br>
    {% raw xsrf_form_html() %}
  </form>
  </div>
{% end %}
{% if primary_affiliation == "Faculty" %}
  <h3>Faculty Information</h3>
  <div class="container">
  <label class="container"><b>Username</b></label><br>
  <li class="container">{{ username }}</li><br>
  <label class="container"><b>Email</b></label><br>
  <li class="container">{{ email }}</li><br>
  <label class="container"><b>Date of Birth</b></label><br>
  <li class="container">{{ dob }}</li><br>
  <label class="container"><b>Native Language</b></label><br>
  <li class="container">{{ native_language }}</li><br>
  <label class="container"><b>Gender</b></label><br>
  <li class="container">{{ gender }}</li><br>
  <label class="container"><b>Ethnicity</b></label><br>
  <li class="container">{{ ethnicity }}</li><br>
  <label class="container"><b>Departments Enrolled</b></label><br>
  {% if len(departments) == 0 %}
    <li class="container">{{ 'not enrolled into any departments' }}</li><br>
  {% else %}
      <li class="container">{{ departments }}</li><br>
  {% end %}
  <label class="container"><b>Courses Instructed</b></label><br>
  {% if len(courses) == 0 %}
    <li class="container">{{ 'not instructing any courses' }}</li><br>
  {% else %}
    <li class="container">{{ courses }}</li><br>
  {% end %}
  <form action="/userinfo/update" method="get">
    <input type="submit" value="update" class="button"><br>
    {% raw xsrf_form_html() %}
  </form>
  </div>
{% end %}
{% end %}
