{% extends "../layouts/base.html" %}
{% block title %}Register{% end %}
{% block content %}
<h3 class="margin_general_title">Almost finished.</h3>
<h4 class="margin_general_title">Please verify and complete the following fields.<h4>
<form action="/register/culdap" method="post" class="margin_general">
  <table>
  <tr>
    <td>  <label><b>Username:</b></label></td>
    <td><input type="text" name="username" value="{{ username }}" readonly></td>
  </tr>
  <tr>
    <td>  <label><b>Email: </b></label></td>
    <td>  <input type="email" name="email" value="{{ email }}" required></td>
  </tr>
  <tr>
    <td><label><b>Date of Birth: </b></label></td>
    <td><input type="date" name="dob" value="{{ dob }}" required=""></td>
  </tr>
  <tr>
    <td> <label><b>Gender: </b></label></td>
    <td>  <select name="gender" required>
      {% for user_gender in user_genders %}
        <option value="{{ user_gender }}"> {{ user_gender }}</option>
      {% end %}
      <option selected disabled hidden value=''></option>
      </select>
    </td>
  </tr>
  <tr>
    <td>  <label><b>Ethnicity</b></label> </td>
    <td>     <select name="ethnicity" required>
      {% for user_ethnicity in user_ethnicities %}
        <option value="{{ user_ethnicity }}"> {{ user_ethnicity }}</option>
      {% end %}
      <option selected disabled hidden value=''></option>
      </select>
     </td>
  </tr>
  <tr>
    <td>  <label><b>Native Language: </b></label></td>
    <td>    <select name="native_language" required>
      {% for user_native_language in user_native_languages %}
        <option value="{{ user_native_language }}"> {{ user_native_language }}</option>
      {% end %}
        <option selected disabled hidden value=''></option>
      </select></td>
  </tr>
  {% if primary_affiliation == "Student" %}
  <tr>
    <td>    <label><b>Academic Status: </b></label></td>
    <td>  <input type="text" name="status" value="{{ status }}"></td>
  </tr>
  <tr>
    <td>    <label><b>Enrolled Majors: </b></label></td>
    <td>
        <input type="text" name="major1" value="{{ major1 }}"><br>
        <input type="text" name="major2" value="{{ major2 }}"><br>
        <input type="text" name="major3" value="{{ major3 }}"><br>
        <input type="text" name="major4" value="{{ major4 }}"><br> </td>
  </tr>
  <tr>
    <td>    <label><b>Enrolled Minors: </b></label></td>
    <td>   <input type="text" name="minor1" value="{{ minor1 }}"><br>
      <input type="text" name="minor2" value="{{ minor2 }}"><br></td>
  </tr>
  {% end %}
  <tr>
    <td></td>
    <td><input type="submit" id="submitbtn" name="submit" value="Confirm and Create Account" class="button"><br />
 </td>
  </tr>
</table>

  <input type="hidden" name="confirming" value="True">
  <input type="hidden" name="departments" value="{{ departments }}">
  <input type="hidden" name="primary_affiliation" value="{{ primary_affiliation }}">
  {% raw xsrf_form_html() %}
</form>
{% end %}
