{% extends "../layouts/base.html" %}
{% block title %}Login{% end %}
{% block content %}

<form action="/register/culdap" method="post">
  <label>CU Login Name</label><br />
  <input type="text" name="username" required><br>
  <label>Password</label><br />
  <input type="password" name="password" required><br />
  <input type="checkbox" name="accept" unchecked required>I accept the <a href="/tos">Terms and Conditions.</a><br>
  <input type="submit" id="loginbtn" name="login" value="REGISTER" class="button"><br />
  {% raw xsrf_form_html() %}
</form>
{% end %}
