{% for err in errors %}
<div class="alert alert-danger" role="alert">
{{ err }}
</div>
{% end %}
<form action="/register/culdap" method="post">
  <label>CU Login Name</label><br />
  <input type="text" name="username" required><br>
  <label>Password</label><br />
  <input type="password" name="password" required><br />
  <label>Confirm Password</label><br />
  <input type="password" name="passwordconfirm" required><br/>
  <label/>
  <input type="checkbox" name="accept" unchecked required>I accept the <a href="/tos">Terms and Conditions.</a><br>
  <input type="submit" id="loginbtn" name="login" value="REGISTER" class="button"><br />
</form>
