{% extends "layouts/base.html" %}
{% block title %}Abuse - Report abusive behaviour{% end %}
{% block content %}
  <div style="margin-left: 50px; margin-top: 50px; max-width: 600px" id="main-grid">
      <p>
          We take abuse seriously at Campus Consensus. If you observe any
          abusive surveys or responses, please report it to us immediately.
          Abusive behaviour includes: threats, hateful conduct and harassment.
      </p>
      <p>
          We will not violate our censorship policy, available <a
          href="/help">here</a>. Criticism of a teacher's methods or content is
          allowed and encouraged.
      </p>
      <p>
          Please include the survey title and abusive content in the report.
      </p>
      <a class="mdl-button mdl-button--raised" href="mailto:abuse@sfii.colorado.edu">
          Report abuse
      </a>
  </div>
{% end %}
