<!doctype html>
<!---->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CUFCQ</title>

    <!-- Page styles -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.0/material.indigo-pink.min.css" />
    <link href="/static/stylesheets/styles.css" rel="stylesheet" type="text/css">
    <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/7.0.4/basscss.min.css" rel="stylesheet">

    </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img src="/static/stylesheets/logo.png" style="width:70px;height:65px;">
          </span>

          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer">
          </div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">

          </div>

          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login">Sign&nbsp;In</a>
            </nav>
          </div>
 
          <span class="android-mobile-title mdl-layout-title">

          </span>
        </div>
      </div>

      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="android-wear-section  mdl-typography--text-center">
          <div class="android-font android-slogan">            </div>
          <div class="android-font android-sub-slogan"></div>

        </div>
            
      </div>

    </div>
    <script src="../../material.min.js"></script>
   
 
      
<body class="mdl-demo mdl-color--cyan mdl-color-text--black-700 mdl-base">
   
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      
<main class="mdl-layout__content">

<!--Banner-->    
          
<div class="banner_container">
    <div class= "clipped">
        <div  class="center px1 py4 black bg-gray bg-cover bg-center add_vertical_space "
              style="background-image: url(/static/stylesheets/boulder_banner.png); background-size: cover">
  <h1 class="h1 h0-responsive caps mt4 mb0 regular">Campus Consensus</h1>
  <p class="h3 add_vertical_space">Explore Your College</p>

          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent add_vertical_space" href="/register/culdap">Create Account</a>            

            <div>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent " href="/login">Sign In</a>  
            </div>   
            
        </div>
    </div>
    </div>
          
<div class="main_info">      

       
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text">
                <h1>What do we do?</h1>
                We are creating a way to communicate and share information about the classes way take everyday through the means of surveys and the visualization of data.
              </div>
                
            </div>
          </section>         
          
</div>
          
        <br> 
      </main>
    </div>


  </body>
</html>
