{% extends "layouts/base.html" %}
{% block title %}Login{% end %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
<link href="/static/stylesheets/style.css" rel="stylesheet" type="text/css">

<form method="post" action="/login">
    <center>
  <input type="hidden" name="next" id="next" value="{{ next }}">
<div>        
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">    
  <input class="mdl-textfield__input" type="text" id="usernameId" name="username"><br>
    <label class="mdl-textfield__label" for="usernameId">CU Login Name</label> 
    </div>
        </div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">   
  <input class="mdl-textfield__input" input type="password" id="passwordId" name="password"></p>
    <label class="mdl-textfield__label" for="passwordId">Password</label> </div>   
<div class="add_vertical_space">  
  <input type="submit" value="Submit" class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
</div>    
  {% raw xsrf_form_html() %}

    </center>
</form>

{% end %}
