<nav class="navigation mdl-navigation mdl-color--blue-grey-800">
  <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">dashboard</i>Dashboard</a>
  <a class="mdl-navigation__link" href="../../../profile"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_circle</i>Profile</a>
  <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>Help</a>
  
  <div class="mdl-grid content"></div>

  <div class="mdl-layout-spacer"></div>

  <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">file_download</i>Raw Dump</a>
</nav>
