<nav class="navigation mdl-navigation mdl-color--blue-grey-800">
  <a class="mdl-navigation__link" href="/dashboard"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
  <a class="mdl-navigation__link" href="/profile"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_circle</i>Profile</a>
  <a class="mdl-navigation__link" href="/groups"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">group</i>Groups</a>
  <a class="mdl-navigation__link" href="/surveys"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">poll</i>Surveys</a>
  <a class="mdl-navigation__link" href="/help"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>Help</a>

  <div class="mdl-grid content"></div>

  <div class="mdl-layout-spacer"></div>

  <a class="mdl-navigation__link" href="/logout"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">exit_to_app</i>Sign Out</a>
  <a class="mdl-navigation__link" href="/rawdump"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">file_download</i>View Data</a>
  <a class="mdl-navigation__link" href="/abuse"><i class="mdl-color-text--blue-grey-400 material-icons">warning</i>Report Abuse</a>
</nav>
